<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Request Header Parser Microservice</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>
        <header class="navbar navbar-default">
            <h1 class="text-center text-info">Request Header Parser Microservice</h1>
        </header>
        <section class="container">
            <div class="row">
                <h3>User Story</h3>
                <ol>
                    <li>I can get the IP address, language and operating system for my browser.</li>
                </ol>
            </div>
            <div class="row">
                <h3>Example usage:</h3>
                <p></p>
            </div>
            <div class="row">
                <h3>Example output:</h3>
                <code>
                    { 
                        "ipaddress": ::1, 
                        "lang": "en-US",
                        "software": "Windows NT 10.0; WOW64" 
                    }
                </code>
            </div>
        </section>
        <br/>
        <footer class="navbar navbar-default navbar-fixed-bottom">
            <p class="text-center">&copy; Designed and Developed By Pranay Kumar</p>
        </footer>
    </body>
</html>
